outputs
*.fa
*.fasta
*.bam
*.bai
*.fai
*.sam
.snakemake/
*.gz
reports/*/contigs_reports/*
reports/*/reads_stats/*
reports/*/busco_stats/*
reports/*/predicted_genes/*
tmp/*
.Rproj.user
*.paf
*.Rproj
*.RData
